<!DOCTYPE html>
<!--[if IE]><![endif]--> 
<html>
  <head>
    <meta charset="utf-8">     
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="description" content="Is the L train fucked? Find out here." /> 
    <meta name="keywords" content="L train,mta,nyc,subway,L train service,is the l train fucked" /> 
    <meta name="application-name" content="Is the L Train Fucked?" /> 
    <meta name="msapplication-tooltip" content="Is the L Train Fucked?" /> 
    <meta name="msapplication-starturl" content="http://istheltrainfucked.com/#pinned" /> 
    <meta name="author" content="Jonathan Vingiano" />
    <meta http-equiv="imagetoolbar" content="false" />

    <meta property="og:title" content="Is the L Train F'd?" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://istheltrainfucked.com" />
    <meta property="og:site_name" content="Is the L Train F'd?" />
    <meta property="fb:admins" content="13005337" />

    <title>Is the L Train Fucked?</title>

    <link href="/stylesheet.css" media="all" rel="stylesheet" type="text/css" /> 

<!--[if lt IE 9]>
        <script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]--> 
  </head>
  <body>
    <header>
      <h1>Is the L Train fucked?</h1>
    </header>
    <section id="status">
      <h2>
        <%= @train_status %>
      </h2>
    </section>

    <iframe src="https://www.facebook.com/plugins/like.php?href=istheltrainfucked.com&layout=button_count&show_faces=false&width=450&action=like&colorscheme=light&height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>

<footer>
Site by <a href="http://jonathanvingiano.com">Jonathan</a> | <a href="http://twitter.com/jgv" target="_blank">@jgv</a>
</footer>

<script>
   var _gaq = [['_setAccount', 'UA-21306097-1'], ['_trackPageview']];
   (function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
   })(document, 'script');
  </script>
  </body>
</html>
