@import(reset.css);

body {
  width:960px;
  margin:0px auto;
  background:rgb(30,30,30);
  padding-top:50px;
  font-family:helvetica,arial,sans-serif;
  font-weight:bold;
  text-transform:uppercase;
  color:white;
}

header h1 {
    text-align:center;
    margin-bottom:100px;
}

#status {
    margin: 0px auto;
    width:400px;
    height:400px;
    background: url(/circle.png);
}

#status h2 {
    position:relative;
    font-size:50px;
    height:400px;
    line-height:400px;
    margin:0 auto;
    text-align:center;
}

iframe {
    position:fixed;
    left:10px;
    bottom:10px;
}